table {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background: #ece9e0;
  color: #656665;
  border: 16px solid #ece9e0;
  border-radius: 20px;
  margin-left: 38%;
  margin-top: 50px;
}
th {
  font-size: 18px;
  padding: 10px;
}
td {
  background: #f5d7bf;
  padding: 10px;
}
